/* General  */
img {
  /*display:inline-block;*//*Mine*/
}

/* App */
main.App {
  min-height:100vh;
  /*background-image:linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);*/
  background-image:linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  /*text-align:center;*//*Mine*/
}

/* Search Form */
.search-form {
  min-height:10vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

/* Search Input */
.search-input {
  width:50%;
  padding:10px;
  border:none;
}

/* Search Button */
.search-button {
  padding:10px 20px;
  background-color:lightcoral;
  color:#FFF;
  border:none;
  cursor:pointer;/*Mine*/
}

/* Recipes */
.recipes {
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
}